<form action="/dataForm" method="post">
        Club Name: <input type="text" name="club_name"/><br><br>
        Club Type: <input type="text" name="club_type"/><br><br>
        <input type="submit" value="accept"/><br><br><hr>
</form>