<form action="/dataForm" method="post">
        Club Name: <input type="text" name="clubname"/><br><br>
        Club Type: <input type="text" name="clubtype"/><br><br>
        <input type="submit" value="accept"/><br><br><hr>
</form>