<h1>Data Submitted Successfully</h1>

    <% for (var p in data){%>
            <p><%=p%>:<%=data[p]%></p>
        <%} %>

<!-- <button onclick="onBtn()">Form</button> -->
<a href="ejsform">Form</a>
<script>
    function onBtn(){
        window.location.href = "ejsform";
    }
</script>